@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

@keyframes meteor {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-meteor {
  animation-name: meteor;
  animation-duration: var(--duration, s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: var(--delay, 0s);
}

@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.animated-border {
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s ease;
}

.animated-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  border-radius: calc(var(--button-radius, 0px) + 3px);
  background: conic-gradient(from var(--border-angle),
      transparent 0%,
      rgba(255, 255, 255, 0.7) 10%,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 0.7) 20%,
      transparent 35%,
      transparent 100%);
  animation: rotateBorderAnimation 2s linear infinite;
}

.animated-border::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 2;
  pointer-events: none;
  border-radius: inherit;
  border: 1px solid #555;
  background: linear-gradient(to right, #2e2e2e, #4a4a4a, #2e2e2e);
}

.animated-border:hover::after {
  border: 1px solid #555;

  background: rgb(10, 9, 9)
}

.animated-border span {
  position: relative;
  z-index: 10;
}

@keyframes rotateBorderAnimation {
  to {
    --border-angle: 360deg;
  }
}

@supports not (--border-angle: 0deg) {
  .animated-border::before {
    background: linear-gradient(to right,
        transparent,
        rgba(255, 255, 255, 0.7),
        transparent);
    animation: none;
  }
}

@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.invert-animated-border {
  position: relative;
  overflow: hidden;
  z-index: 3;
  transition: all 0.3s ease;
}

.invert-animated-border::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  pointer-events: none;
  border-radius: calc(var(--button-radius, 0px) + 3px);
  background: conic-gradient(from var(--border-angle),
      transparent 0%,
      rgba(255, 255, 255, 0.7) 10%,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 0.7) 20%,
      transparent 35%,
      transparent 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: rotateBorderAnimation 2s linear infinite;
  animation-play-state: paused;
}

.invert-animated-border::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 3;
  pointer-events: none;
  border-radius: inherit;
  background: #19001c;
  border: 1px solid #fff;
  background-size: 100% 100%, 100% 100%;
  background-position: center center, 100% center;
  background-repeat: no-repeat;
  transition: background-position 0.3s ease;
}

.invert-animated-border:hover::before {
  opacity: 1;
  z-index: -1;

  animation-play-state: running;
}

.invert-animated-border span {
  position: relative;
  z-index: 20;
}

.invert-animated-border:hover::after {
  border: none;
  /* background: linear-gradient(to right, #532959, #824D69, #532959);  */
  background-position: center center, center center;
}

@keyframes rotateBorderAnimation {
  to {
    --border-angle: 360deg;
  }
}

@supports not (--border-angle: 0deg) {
  .invert-animated-border::before {
    background: linear-gradient(to right,
        transparent,
        rgba(255, 255, 255, 0.7),
        transparent);
    animation: none;
  }
}

canvas {
  position: absolute;
}